# Question- How many lower class women survived the titanic.
!pip install pandas

In [4]:
import pandas as pd

In [6]:
pd.read_csv("titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Assistant
The error occurs because Python cannot find the file 'titanic.csv' in your current working directory.

This is a FileNotFoundError, which means the file you're trying to read doesn't exist at the location where Python is looking for it.

Would you like me to provide the corrected code?

# Assistant
The error occurs because Python cannot find the file 'titanic.csv' in your current working directory. This is a FileNotFoundError, which means the file either doesn't exist or is located in a different directory than where your code is running.

Would you like me to provide the corrected code?


The issue was in the line with `pd.read_csv(titanic.csv')` - the string was missing an opening single quote. I've added the missing quote so it's now `pd.read_csv('titanic.csv')`.

In [22]:
num_samples = len("titanic.csv")
print(num_samples)

11

In [26]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 7, 8],
    'B': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
})

In [27]:
df.iloc[6]

A    7
B    g
Name: 6, dtype: object

In [35]:
import pandas as pd

# Load the titanic dataset from the CSV file
titanic_data = pd.read_csv("titanic.csv")

print("Individuals who embarked from Queenstown (Q):")
for index, person in titanic_data.iterrows():
    if person.get("embarked") == "Q":  # Using get() method which works with pandas Series
        # Print the name or "Unknown Name" if name is not available
        print(person.get("name", "Unknown Name"))

Individuals who embarked from Queenstown (Q):

In [42]:
import pandas as pd
df = pd.read_csv("titanic.csv")
female_23 = df[(df['Sex'] == 'female') & (df['Pclass'].isin([2, 3]))]
survived_female_23 = female_23[female_23['Survived'] == 1]
percentage_survived = (len(survived_female_23) / len(female_23)) * 100
print(f"Percentage of females in Pclass 2 or 3 who survived: {percentage_survived:.2f}%")

Percentage of females in Pclass 2 or 3 who survived: 64.55%